.index {
    z-index: -1;
    margin-top: 5rem;
}

.card-width {
    width: 18rem;
}

.control-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.single_product{
  align-items: center;
}

.table-font {
    font-size: 18px;
}

.row2 {
   display: flex;
   flex-wrap: wrap;
}

.row2 > div[class*='col-'] {
  display: flex;
}



.right-side {
    width: 25rem;
    margin-left: 45rem;
    margin-top: -35rem;

}

.account-image{
  height: 125px;
  width: 125px;
  margin: 20px;
}


@media screen and (max-width: 1200px){
    .right-side{
        width: 25rem;
        margin-top: 0;
        margin-left: 0;
    }
}