.index {
    z-index: -1;
    margin-top: 5rem;
}

.right-side {
    width: 25rem;
    margin-left: 45rem;
    margin-top: -35rem;

}

@media screen and (max-width: 1200px){
    .right-side{
        width: 25rem;
        margin-top: 0;
        margin-left: 0;
    }
}