.action-btn {
    display: flex;
}

.scrollable {
    height: 600px;
    overflow: scroll;
}

/*table .sticky th {*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*table tbody {*/
/*    height: 600px;*/
/*    overflow: scroll;*/
/*}*/

/*.table-responsive {*/
/*    height: 200px;*/
/*    overflow: auto;*/
/*}*/

/*.table-fixed {*/
/*    display: block;*/
/*}*/

/*.table-fixed tbody {*/
/*    display: block;*/
/*    overflow: auto;*/
/*    height: 500px;*/
/*}*/

/*.table-fixed>tbody>tr>td:last-child {*/
/*    border-right: 0;*/
/*}*/

/*.table-fixed tbody td,*/
/*.table-fixed thead>tr>th {*/
/*    !*float: left;*!*/
/*    font-size: 14px;*/
/*    padding-left: 20px !important;*/
/*}*/

/*.table-fixed tbody {*/
/*    display: block;*/
/*    height: 300px;*/
/*    overflow-y: auto;*/
/*}*/

/*.table-fixed tr {*/
/*    display: block;*/
/*}*/