.action-btn {
    display: flex;
}

.scrollable {
    height: 600px;
    overflow: scroll;
}

.mini_scroll {
    height: 200px;
    overflow: scroll;
}

.payment_status_scroll {
    height: 300px;
    overflow: scroll;
}

.img-data{
    width: 50%;
}

.scrollable .head-position {

}

.card-heading {
    color: #f1f1f1;
    background-color: darkviolet;
    border-radius: 5px;
    padding: 2px;
}

.center-div {
    margin: auto;
}

.content-flow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grand{
    padding: 10px;
}

.grand span{
    font-weight: 700;
    color: orangered;
}
/*table .sticky th {*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*table tbody {*/
/*    height: 600px;*/
/*    overflow: scroll;*/
/*}*/

/*.table-responsive {*/
/*    height: 200px;*/
/*    overflow: auto;*/
/*}*/

/*.table-fixed {*/
/*    display: block;*/
/*}*/

/*.table-fixed tbody {*/
/*    display: block;*/
/*    overflow: auto;*/
/*    height: 500px;*/
/*}*/

/*.table-fixed>tbody>tr>td:last-child {*/
/*    border-right: 0;*/
/*}*/

/*.table-fixed tbody td,*/
/*.table-fixed thead>tr>th {*/
/*    !*float: left;*!*/
/*    font-size: 14px;*/
/*    padding-left: 20px !important;*/
/*}*/

/*.table-fixed tbody {*/
/*    display: block;*/
/*    height: 300px;*/
/*    overflow-y: auto;*/
/*}*/

/*.table-fixed tr {*/
/*    display: block;*/
/*}*/